.nav {
    background-color: cornflowerblue;
    grid-area: n;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: blue;
    transition: 0.5s linear;
}

.item a.active {
    color: white;
    background: royalblue;
    padding: 1px;
}