.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .dialog .active {
    color: white;
    background: limegreen;
    padding: 1px;
}

.dialog a {
    color: white;
}

.dialog a:hover {
    color: green;
    transition: 0.5s linear;
}

.dialogItems .dialog a {
    text-decoration: none;
}

.massages {
    padding: 10px;
}

.massages .massage {
    color: darkgreen;
}